<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Witaj w systemie restauracji!</h1>
<div class="options">
    <a href="/addTable"><button>Dodaj stolik</button></a>
    <a href="/allTabless"><button>Lista stolików</button></a>
    <a href="/editTable"><button>Zaktualizuj stolik</button></a>
    <a href="/deleteTable"><button>Usuń stolik</button></a>
    <a href="/resT"><button>Rezerwuj</button></a>
    <a href="/myReservation"><button>Moje Rezerwacje</button></a>
</div>
<button onclick="window.location.href='/req/login'">Wyloguj się</button>
</body>
</html>
